{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.symbol }}</td>
                    <td> {{ transaction.symbol}}</td>
                    <th>{{ transaction.shares }}</th>
                    <td>{{ transaction.price | usd }}</td>
                    <td>{{ (transaction.shares * transaction.price) }}</td>
                    <th>{{ transaction.timestamp }}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
